<header id="header">

 <div id="logo-group">
      <h1 class="dls-title">comproDls | Apps | libs-frontend-core </h1>
 </div>
 
 <!-- pulled right: nav area -->
 <div class="pull-right">
 
     <!-- collapse menu button -->
     <div id="hide-menu" class="btn-header pull-right">
         <span> <a toggle-menu title="Collapse Menu"><i
                 class="fa fa-reorder"></i></a> </span>
     </div>
     <!-- end collapse menu -->   

        <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right" ng-if="user">
        <span> <a ui-sref="login" title="Sign Out" ><i
                class="fa fa-sign-out"></i></a> </span>
    </div>
        
     <!-- fullscreen button -->
     <div id="fullscreen" class="btn-header transparent pull-right">
         <span> <a full-screen title="Full Screen"><i
                 class="fa fa-arrows-alt"></i></a> </span>
     </div>
     <!-- end fullscreen button -->
     
     <!-- multiple lang dropdown : find all flags in the flags page -->
     <language-selector></language-selector>
     <!-- end multiple lang -->
 </div>
 <!-- end pulled right: nav area -->

</header>