/*********************************
* Customisations for comproDLS
*********************************/

@asideWidth:250px;

#header {
    #logo-group {
        width:auto;
        h1.dls-title {
		padding-left:15px;
	}
    }
}    

#extr-page  {
	#header {
		#logo-group {
			h1.dls-title {
			   padding-top: 10px;
			   padding-left: 0px;
			}
		}	
	}	
}
    
